* {
  font-family: 'Roboto', sans-serif;
}
select {
  margin: 0 15% 40px;
}
body {
  margin: 20px;
  background: whitesmoke;
}
.photo-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pages {
  float: right;
  margin-right: 15%;
}

#sorters {
  float: left;
  margin-left: 15%;
}

ul {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  margin-right: 1em;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

#horn {
  border-radius: 6px;
  margin: 2%;
  width: 240px;
  height: 240px;
  background: gainsboro;
  text-align: center;
  padding: 10px;
}

img {
  max-width: 180px;
  max-height: 180px;
  margin-top: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}