* {
  font-family: 'Roboto', sans-serif;
}
select {
  margin: 0 15% 40px;
}
body {
  margin: 20px;
  background: whitesmoke;
}
#photo-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

div{
  border-radius: 6px;
  margin: 2%;
  width: 240px;
  height: 240px;
  background: gainsboro;
  text-align: center;
  padding: 10px;
}

img {
  max-width: 180px;
  max-height: 180px;
  margin-top: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}